@use "~normalize.css/normalize.css";
@import "base";
/* $isValidEmail: true;
@mixin getColor {
  @if $isValidEmail {
    color: #000000;
    border: 1px solid $black-blue;
  }@else{
    color: $rad;
    border: 1px solid $rad;
  }
} */

html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
  /*  width: 100vw;  */
  @include font-body;
}
.main {
  display: flex;
  flex-direction: column;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-background {
  width: 100%;
  background-color: #888;
  margin: 0;
  padding: 0;
}
.content {
  margin: 0 auto;
  width: 1160px;
}
.logo {
  display: block;
  width: 82px;
  height: 52px;
  flex: 0 0 82px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 2px;
  text-decoration: none;
  color: #fff;

  .text {
    margin-top: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    background: url("../../assets/icons/bamboo.svg") no-repeat;
    background-position: bottom 0.3em left 0.45em;
  }
}
/* .logo {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 82px;
  height: 52px;
  flex: 0 0 82px;
  padding: 1px 0 0;
  border: 1px solid #ffffff;
  border-radius: 2px;
  text-align: center;
  img {
    position: absolute;
    bottom: 0.4em;
    left: 0.55em;
  }
  span {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
  }
  a {
    color: #fff;
    text-decoration-line: none;
  }
} */
.button {
  @include font-btn;
  width: 298px;
  height: 54px;
  margin: 0;
  padding: 16px 1px 16px 5px;
  border: none;
  border-radius: 25px;
  text-align: center;
  background: $orange;
  color: #ffffff;
  cursor: pointer;
  &:hover {
    background: #e47209;
  }
  &:active {
    background: $green;
  }
  &:disabled {
    background: $gray;
  }
}
.header {
  &.section-background {
    background: #000;
  }
  position: absolute;
  z-index: 1;
  height: 80px;

  .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
  }
  .nav {
    flex-basis: 100%;
  }
  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 34px;
    li:last-child {
      flex-grow: 1;
      justify-self: flex-end;
      text-align: end;
      a {
        padding-right: 1px;
      }
    }
    a {
      padding: 29px;
      @include font-nav-link;
      &:hover,
      &:active,
      &.active {
        background: $orange;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }
  a {
    display: inline-block;
    color: #fff;
    text-decoration-line: none;
  }
}
.watch {
  &.section-background {
    background-image: url("../../assets/images/giant-panda.jpg");
    background-color: #283035;
    background-size: cover;
  }
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 780px;
    /* outline: 1px dashed red; */
  }
  .watch-text {
    position: absolute;
    width: 500.31px;
    height: 400px;
    margin: 0;
    top: 166px;
    z-index: 0;
    left: calc(50% - 500.31px / 2 + 330.15px);
    /* right: 9px; */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px; // 666%; // 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    span {
      color: $yellow;
    }
    &:before {
      content: "";
      display: block;
      height: 465px;
      width: 465px;
      z-index: -1;
      position: absolute;
      border-radius: 50%;
      transform: translate(-16%, -16%);
      /* top: -73px;
      left: -82px; */
      background: $orange;
    }
  }
  .button {
    margin-right: 99px;
    margin-bottom: 100px;
  }
}
.backstage {
  &.section-background {
    background-color: #ffffff;
    height: 629px;
  }
  .content {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    height: 403px;
    background: #ffffffbf;
    z-index: 1;

    .bamboo-cap {
      margin-left: -1px;
    }
    .backstage-text {
      width: 465px;
      color: $black-blue;
      .h2 {
        @include font-h2;
        margin: 0 0 21px;
      }
      p:nth-child(2) {
        line-height: 130%;
      }
      p:nth-child(3) {
        @include font-subtitle;
        margin: 54px 0 34px;
      }
    }
  }

  .flower-foto1 {
    position: absolute;
    z-index: 0;
    margin: 12px 0;
    right: 0;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.1));
  }
}
.pets {
  &.section-background {
    background-color: #ccc;
    height: 300px;
  }
  .content {
    margin-top: 100px;
    height: 100px;
    background: #ffffff;
  }
}
/*.placeholder {
   &.section-background {
    background-color: #ccc;
    height: 300px;
  }
  .content {
    margin-top: 100px;
    height: 100px;
    background: #ffffff;
  }
}
.pick-and-feed {}
.testimonials {}
.footer {} */

.footer {
  &.section-background {
    color: #fff;
    background-color: #000000;
    height: 443px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }
  .top {
    display: flex;
    justify-content: space-between;
    height: 161px;
    .logo {
      margin-top: 41px;
      border: 0.5px solid #ffffff;
      .text {
        margin-top: 1px;
      }
    }
    .subscribe {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 40px;
      width: 367px;
      height: 85px;
      .text {
        margin: 0;
        @include font-subtitle;
      }
      .form {
        position: relative;
        display: flex;
        justify-content: space-between;
      }
      .email {
        box-sizing: border-box;
        width: 228px;
        height: 42px;
        border-radius: 2px;
      }
      .border {
        display: inline-block;
        position: absolute;
        z-index: 0;
      }
      .input {
        padding: 9px;
        background: #000000 padding-box;
        border: 1px solid transparent;
        color: #ffffff;
        z-index: 1;
        outline: none;
        &::placeholder {
          color: #bdbdbd;
        }
        &:invalid ~ .border {
          background: $rad;
        }
        &:invalid ~ .submit {
          border: 1px solid $rad;
          color: $rad;
        }
        &:valid ~ .border,
        &:not(:focus) ~ .border {
          background: $orange;
        }
        &:placeholder-shown ~ .submit {
          border: 1px solid $black-blue;
          color: #000000;
        }
        &:active ~ .border {
          background: $green;
        }
      }
      .submit {
        box-sizing: border-box;
        width: 129px;
        height: 42px;
        margin: 0;
        border: 1px solid $black-blue;
        color: #000000;
        border-radius: 5px;
        background-color: $gray-light;
        &:active {
          border: 1px solid $green;
          color: $green;
        }
      }
    }
  }
  .donate {
    height: 98px;
    .button {
      border-radius: 5px;
      padding: 16px 0;
    }
  }
  .bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 134px;
    .social {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .social-link {
        display: flex;
        align-items: flex-end;
        height: 26px;
        @include font-body;
        text-decoration: none;
        color: #fff;
        &:hover {
          color: $green;
          .icon {
            background-color: $green;
          }
        }
      }
      .icon {
        width: 26px;
        height: 26px;
        margin-right: 12px;
        background: #c4c4c480 no-repeat center;
        border-radius: 50%;

        &.facebook {
          background-image: url("../../assets/icons/icon-fb.svg");
        }
        &.twitter {
          background-image: url("../../assets/icons/icon-tw.svg");
        }
        &.instagram {
          background-image: url("../../assets/icons/icon-ig.svg");
        }
        &.youtube {
          background-image: url("../../assets/icons/icon-yt.svg");
        }
      }
      .facebook .text {
        transform: translateY(2px);
      }
      .youtube .text {
        transform: translateY(1px);
      }
      .text {
        margin: 0;
      }
    }
    .footer-nav {
      position: absolute;
      margin-left: 50%;
      transform: translateX(-50%);
    }
    .footer-nav-list {
      display: flex;
      align-items: flex-end;
      list-style: none;
      margin: -1px;
      padding: 0;
      a {
        text-decoration: none;
        color: #ffffff;
        padding: 1em 29px;
        @include font-nav-link;
        font-weight: 400;
        &:hover,
        &:active,
        &.active {
          background: $orange;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
    }
    .watermark {
      width: 228px;
      height: 52px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 100;
      font-size: 16px;
      line-height: 130%;
      margin-right: 0px;
      & > p {
        margin: 0 0 10px 0;
      }
    }
  }
}
