@import "base";
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
  /* width: 1600px; */
  @include font-body;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-background {
  width: 100vw;
}
.content {
  margin: 0 auto;
  width: 1160px;
}
.logo {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 82px;
  height: 52px;
  font-size: 19px;
  line-height: 120%;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 2px;
  img {
    position: absolute;
    bottom: 0.35em;
    left: 0.5em;
  }
}
.button {
  @include font-btn;
  width: 298px;
  height: 54px;
  margin: 0;
  padding: 16px 1px 16px 5px;
  border: none;
  border-radius: 25px;
  text-align: center;
  background: $orange;
  color: #ffffff;
  cursor: pointer;
  &:hover {
    background: #e47209;
  }
  &:active {
    background: $green;
  }
  &:disabled {
    background: $gray;
  }
}
.header {
  &.section-background {
    background: #000;
  }
  position: absolute;
  z-index: 1;
  height: 80px;

  .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
  }
  .logo {
    flex: 0 0 82px;
  }
  .nav {
    flex-basis: 100%;
  }
  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 34px;
    li:last-child {
      flex-grow: 1;
      justify-self: flex-end;
      text-align: end;
      a {
        padding-right: 1px;
      }
    }
    a {
      padding: 29px;
      @include font-nav-link;
      &:hover,
      &.hover {
        background: $orange;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }
  a {
    display: inline-block;
    color: #fff;
    text-decoration-line: none;
  }
}
.watch {
  &.section-background {
    background-image: url("../../assets/images/Giant Panda.jpg");
    background-color: #283035;
    background-size: cover;
  }
  margin-top: 0;
  padding-top: 0;
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 780px;
    /* outline: 1px dashed red; */
  }
  .watch-text {
    position: absolute;
    width: 500.31px;
    height: 400px;
    top: 166px;
    z-index: 0;
    left: calc(50% - 500.31px / 2 + 330.15px);
    /* right: 9px; */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px; // 666%; // 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    span {
      color: $yellow;
    }
    &:before {
      content: "";
      display: block;
      height: 465px;
      width: 465px;
      z-index: -1;
      position: absolute;
      border-radius: 50%;
      transform: translate(-16%, -16%);
      /* top: -73px;
      left: -82px; */
      background: $orange;
    }
  }
  .button {
    margin-right: 99px;
    margin-bottom: 100px;
  }
}
/*.backstage {}
.pets {}
.pick-and-feed {}
.testimonials {}
.footer {} */
