$color-main: #0f0;
$color-main-transparent: #0f05;
$color-dark: #080;
$color-dark-transparent: #080c;
$color-darker: #060;
$color-darker-transparent: #060c;
$color-darkest: #030;
$color-darkest-transparent: #030c;

@font-face {
  font-family: 'beon';
  src: url('../assets/beon.otf') format('opentype');
}

* {
  // outline: 1px dashed red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: url('../assets/cursor_dark.png'), auto;
}
html {
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: beon, 'Segoe UI', sans-serif;
  font-size: 18px;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header,
.footer {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: $color-main-transparent;
  box-shadow: 0 0 3px 3px $color-dark;
  text-shadow: 0 0 2px $color-main;
  @media (max-width: 768px) {
    height: 48px;
  }
}

.header {
  .header__container {
    position: relative;
    max-width: 1600px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 360px) {
      justify-content: flex-end;
      padding-right: 1em;
    }
  }
  .nav {
    display: flex;
    gap: 1em;
  }
  .logo {
    position: absolute;
    left: 0;
    height: 100%;
    aspect-ratio: 1;
    background-image: url('../assets/favicon.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .nav-item {
    list-style: none;
  }
  .nav-link {
    display: block;
    padding: 0.4em 1em;
    border-radius: 0.3em;
    text-decoration-line: none;
    color: $color-main;
    background-color: $color-darkest;
    box-shadow: inset 0 0 2px 2px $color-main;
  }
}
.main {
  padding: 0 0.5em;
  width: 100%;
  height: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;

  gap: 1em;
}

.footer {
  gap: 1em;
  .github {
    display: block;
    height: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: url('../assets/gh-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .rss-logo {
    display: block;
    height: 66%;
    aspect-ratio: 2.7/1;
    background-image: url('../assets/rs_school_js.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.interactive {
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.1);
    cursor: url('../assets/cursor.png'), auto;
  }
  &:active {
    box-shadow: 0 0 3px 3px $color-main;
  }
}

.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
