$guides: 1280px;
$color-main: #0f0;
$color-main-transparent: #0f05;
$color-dark: #080;
$color-dark-transparent: #080c;
$color-darker: #060;
$color-darker-transparent: #060c;
$color-darkest: #030;
$color-darkest-transparent: #030c;