@import './base';
@import './tv-show';

.game-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: $color-darker-transparent;
  .categories {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
  .category {
    flex: 1;
    padding: 0.5em;
    text-align: center;
    &.current {
      background-color: $color-main-transparent;
    }
  }
  .score {
    display: flex;
    align-items: center;
    padding: 0.5em;
    flex-shrink: 0;
    background-color: $color-dark-transparent;
  }
}

.question {
  background-color: $color-darkest-transparent;
  width: 100%;
  .tv-show__description,
  .tv-show__year {
    display: none;
  }
}
.answers {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  @media (min-width: 720px) {
    flex-direction: row;
  }
}
.options,
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 720px) {
    width: 50%;
  }
  // background-color: $color-darkest-transparent;
}

.option {
  position: relative;
  padding: 0.5em 2em;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid $color-darker-transparent;
  background-color: $color-darkest-transparent;
  &:before {
    /* 
    content: '❌';
    content: '';
    */
    content: '✔️';
    position: absolute;
    left: 0.5em;
  }
}
.description {
  background-color: $color-darkest-transparent;
  text-align: center;
}

.next-button {
  width: 10em;
  padding: 0.3em;
  font-family: beon, 'Segoe UI', sans-serif;
  font-size: 18px;
  color: $color-main;
  background-color: $color-darkest;
  border-radius: 0.3em;
  box-shadow: inset 0 0 2px 2px $color-main;
}

.tv-show {
  height: 100%;
  text-align: start;
  background-color: transparent;
  justify-content: center;
}
