html,
body {
  /* @extend %remove-scrollbars; */
  overflow-y: overlay;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #0005;
  }
  &::-webkit-scrollbar-thumb {
    background: $orange;
    box-shadow: inset 0 0 6px #0005;
    border-radius: 15px;
  }
}

html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
  @extend %font-body;
}
.main {
  display: flex;
  flex-direction: column;
}
.section-wrapper {
  width: 100%;
}
.content-wrapper {
  margin: 0 auto;
  max-width: 1160px;
  @media (max-width: $small) {
    max-width: 940px;
  }
  @media (max-width: $tablet) {
    max-width: 600px;
  }
  @media (max-width: $mobile) {
    max-width: 298px;
  }
}
