.main-page {
  .watch {
    &.section-wrapper {
      background: #283035 url("../../images/giant-panda.jpg");
      background-position: center;
      background-size: cover;
    }
    .content-wrapper {
      height: 780px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .watch-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 92px;
      margin-right: 108px;
      width: 465px;
      height: 465px;
      background: $orange;
      border-radius: 50%;
      .watch-circle-text {
        position: relative;
        top: 8.9%;
        left: 19.5%;
        color: $white;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 106.496px; // 666%; // 106.496px;
        line-height: 75%;
        text-align: center;
        text-transform: uppercase;
        cursor: default;
      }
      span {
        color: $yellow;
      }
    }
    .button {
      margin-top: 69px;
      margin-right: 99px;
    }
  }
  .backstage {
    &.section-wrapper {
      background: $white;
      background-image: url("../../images/flower-foto1.png");
      background-repeat: no-repeat;
      background-position: right top 12px;
    }
    .content-wrapper {
      display: flex;
      justify-content: space-between;
      margin: 140px auto 180px;
      height: 403px;
      background: #ffffffbf;
    }
    .bamboo-cap {
      margin-left: -1px;
    }
    .backstage-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 465px;
      color: $black-blue;
      & > * {
        margin: 0;
      }
      .h2 {
        @extend %font-h2;
      }
      p:nth-child(2) {
        margin-top: 22px;
        line-height: 130%;
      }
      p:nth-child(3) {
        margin-top: 54px;
        @extend %font-subtitle;
      }
      p:nth-child(4) {
        margin-top: 33px;
      }
    }
  }
  .pets {
    &.section-wrapper {
      background: $white;
      background-image: url("../../images/bush.png"),
        url("../../images/strelitzia.png");
      background-repeat: no-repeat;
      background-position-y: bottom;
      background-position-x: -588px, right;
    }
    .content-wrapper {
      position: relative;
      height: 872px;
      margin-bottom: 234px;
    }
    .carousel {
      display: flex;
      flex-flow: row wrap;
      gap: 20px 30px;
    }
    .pet-card {
      $border: 1px;
      $width: 366px;
      $height: 426px;
      $scaled-image-size: $width + 20px;
      $transition-duration: 0.5s;
      position: relative;
      &.border,
      .content {
        box-sizing: border-box;
        width: $width;
        height: $height;
        border-radius: 5px;
        overflow: hidden;
      }
      &.border {
        background: $orange;
      }
      .content {
        background: $white padding-box;
        border: $border solid transparent;
        display: flex;
        flex-direction: column;
      }
      .pet-img {
        margin: -$border;
      }
      .pet-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
      }
      .text {
        width: 294px;
        height: 38px;
        margin-left: 15px;
        & > * {
          margin: -2px 0;
        }
      }
      .name {
        @extend %font-btn;
      }
      .location {
        @extend %font-small-paragraph;
      }
      &:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        z-index: 1;
      }
      &:hover {
        &:before {
          background-color: #00000080;
          transition: background-color $transition-duration;
        }
        .pet-img {
          transform: scale(calc(1 + 20px / $width));
          transition: transform $transition-duration;
        }
        .text {
          color: $white;
          margin: 0;
          z-index: 1;
          transform: translate(
            calc(#{$width}/ 2 - 50%),
            calc(#{-$height}/ 2 + 100%)
          );
          transition: all $transition-duration;
        }
      }
    }
    .carousel-control-wrapper {
      position: absolute;
      display: flex;
      justify-content: space-between;
      left: -82px;
      right: -80px;
      top: 50%;
      transform: translateY(calc(-50% - 2px));
      & > * {
        width: 62px;
        height: 62px;
        border-radius: 50%;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
          cursor: pointer;
          background-color: #e47209;
        }
        &:active {
          background-color: $green;
        }
        &:disabled {
          background-color: $gray;
        }
      }
      .carousel-control-left {
        background-image: url("../../icons/arrow-left.svg"), $orange;
        &:hover,
        &:active,
        &:disabled {
          background-image: url("../../icons/arrow-left.svg");
        }
      }
      .carousel-control-right {
        background-image: url("../../icons/arrow-right.svg"), $orange;
        &:hover,
        &:active,
        &:disabled {
          background-image: url("../../icons/arrow-right.svg");
        }
      }
    }
    .button.choose-favorite {
      position: absolute;
      bottom: -80px;
      left: 50%;
      transform: translate(-50%, 100%);
    }
  }
  .pick-n-feed {
    &.section-wrapper {
      background: $orange-gradient;
    }
    .content-wrapper {
      background: $frosted-glass-white;
      height: 835px;
      margin: 69px auto 100px;
      display: flex;
    }
  }
  .testimonials {
    &.section-wrapper {
      background: #333333;
    }
    .content-wrapper {
      height: 575px;
      margin: 140px auto 204px;
      display: flex;
    }
  }
}
